html{
    height:100%;
    overflow-x: hidden;
}

/* Reset de estilos para body e div */
body, div {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo do cabeçalho */
  header {
    background-color: black;
  }
  
  /* Estilo do logotipo */
  .logo img {
    width: 35px;
    height: auto;
    margin-left: 20px;
  }
  
  /* Estilo do corpo */
  body {
    background-color: #61358c;
  }
  
  /* Estilo das seções */
  .sobre {
    margin-bottom: 50px;
  }
  
  .logos {
    margin-top: -150px;
  }
  
  /* Estilo dos elementos extras */
  .extras {
    position: relative;
    width: 950px;
    height: 950px;
    left: 850px;
    bottom: -50px;
    border-radius: 50%;
    background-color: #FDB927;
  }
  
  .extras img {
    position: absolute;
    bottom: 585px;
    right: 580px;
    width: 400px;
  }
  
  .extras p {
    position: absolute;
    color: white;
    top: 330px;
    right: 500px;
    font-size: 80px;
    z-index: 1;
  }
  
  /* Estilo das redes sociais */
  .sociais {
    position: absolute;
    right: 10px;
    top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    filter: invert(1);
    z-index: 1;
  }
  
  .sociais img {
    display: block;
    transform: scale(0.6);
    margin: 15px 0;
  }
  
  /* Estilo do logotipo do time */
  .teamlogo img {
    position: absolute;
    top: 105px;
    left: 140px;
  }
  
  /* Estilo do texto sobre */
  .texto-sobre {
    position: relative;
    color: rgb(255, 255, 255);
    bottom: 830px;
    left: 80px;
  }
  
  .texto-sobre h1 {
    font-size: 80px;
    margin-bottom: 30px; /* Adicione uma margem inferior menor */
  }
  
  .texto-sobre p {
    margin-bottom: 20px; /* Remova a margem inferior */
    color: white;
    max-width: 450px;
    font-weight: bold;
    line-height: 30px;
  }

  /* Estilo da quadra */
  .court {
    position: absolute;
    top: 1200px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  /* Estilo dos logos */
  .logos h2 {
    color: white;
  }
  
  .logo-history {
    display: flex;
    justify-content: center;
  }
  
  .logo-history img {
    margin: 0 10px;
  }

  .content {
    background-color: rgb(255, 255, 255);
    height: 300px; /* Altura do slideshow ajustada para 400px */
    width: 450px; /* Largura do slideshow ajustada para 600px */
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 1800px;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.logos-history h2 {
  font-size: 40px;
  position: absolute;
  top: 1560px; /* Ajuste a distância vertical conforme necessário */
  left: 50%; /* Ajuste a posição horizontal conforme necessário */
  transform: translateX(-50%);
  color: #ffffff;
  z-index: 999; /* Certifique-se de que o z-index seja maior que o do slideshow */
}

  .navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }
  
  .bar {
    width: 70px;
    height: 17px;
    border: 2px solid #bdbdbd;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
  }

  .bar:hover {
    background-color: #bdbdbd;
  }

  input {
    display:none;
  }

  .slides {
    display: flex;
    width: 400%;
    height: 100%;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.slide {
  width: 25%;
  transition: .6s;
  display: flex; /* Adiciona flex para centralizar verticalmente */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

  .slide img{
    width: 100%;
    height: 100%;
  }

  #slide1:checked ~ .s1 {
    margin-left: 0;
  }

  #slide2:checked ~ .s1 {
    margin-left: -25%;
  }

  #slide3:checked ~ .s1 {
    margin-left: -50%;
  }

  #slide4:checked ~ .s1 {
    margin-left: -75%;
  }

  .slide.s1 img{
    max-width: 270px; /* Defina o tamanho desejado para as imagens */
    max-height: 270px;
  }

  .slide.s2 img{
    max-width: 280px; /* Defina o tamanho desejado para as imagens */
    max-height: 180px;
  }

  .slide.s3 img{
    max-width: 300px; /* Defina o tamanho desejado para as imagens */
    max-height: 200px;
  }

  .slide.s4 img{
    max-width: 300px; /* Defina o tamanho desejado para as imagens */
    max-height: 200px;
  }

  .conhecimento-geral {
    position: absolute;
    top: 2300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 100px;
    padding: 20px;
  }

  .conhecimento-geral h2{
  font-size: 40px;
  position: absolute;
  top: -80px; /* Ajuste a distância vertical conforme necessário */
  left: 50%; /* Ajuste a posição horizontal conforme necessário */
  transform: translateX(-50%);
  color: #ffffff;
  z-index: 999; /* Certifique-se de que o z-index seja maior que o do slideshow */
  }
  
  .conteudo-imagens {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .conteudo-imagens img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px;
  }
  
  .conteudo-sobre {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 18px;
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .conteudo-sobre2 .margem-10 {
    margin-right: 150px;
  }
  
  .conteudo-sobre2 .margem-20 {
    margin-right:40px;
  }

  .conteudo-sobre2{
    color:white;
    display: flex;
  }

  .conquistas-img img{
    max-width: 100px;
    max-height: 100px;
  }

  .conquistas {
    position: absolute;
    top: 2750px;
  }
